:root {
  --header-font: "Arima", cursive;
  --content-font: "Roboto Serif", serif;
  --primary-color: #091441;
  --secondary-color: #dfbb9e;
}

body {
  color: var(--primary-color);
  font-family: var(--content-font);
}

h1,
h2 {
  font-family: var(--header-font);
  font-weight: bold;
}

img {
  width: 250px;
  margin-top: 150px;
  border: 4px solid var(--primary-color);
  border-radius: 5px;
}

button {
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
}

.my-skill {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 600;
}
.hero {
  margin-top: 230px;
}

.hero p {
  font-size: 22px;
  font-weight: 400;
}

.hero-top {
  background: var(--secondary-color);
  padding: 40px 0px 40px 0px;
}

.hero-bottom {
  margin-bottom: 60px;
}

.project-titles {
  line-height: 50px;
}

.project-description {
  font-family: "Roboto", sans-serif;
}

.about-me {
  background: var(--secondary-color);
  padding: 120px 120px 80px 120px;
}

.about-me-content {
  font-size: 18px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .my-skill,
  .my-location {
    text-align: center;
  }
}
